@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --purple-lightest: #f3efff;
  --purple-lighter: #e5d8ff;
  --purple-light: #d2b5ff;
  --purple: #b890ff;
  --purple-dark: #a76eff;
  --purple-darker: #953cff;
  --purple-darkest: #842bff;
  --purple-bg1: rgb(110, 52, 211);
  --yellow-lightest: #FFFDE7;
  --yellow-lighter: #FFF9C4;
  --yellow-light: #FFF59D;
  --yellow: #FFF176;
  --yellow-dark: #FFEE58;
  --yellow-darker: #FFEB3B;
  --yellow-darkest: #FDD835;
}
