@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --purple-lightest: #f3efff;
  --purple-lighter: #e5d8ff;
  --purple-light: #d2b5ff;
  --purple: #b890ff;
  --purple-dark: #a76eff;
  --purple-darker: #953cff;
  --purple-darkest: #842bff;
  --purple-bg1: rgb(110, 52, 211);
  --yellow-lightest: #fffde7;
  --yellow-lighter: #fff9c4;
  --yellow-light: #fff59d;
  --yellow: #fff176;
  --yellow-dark: #ffee58;
  --yellow-darker: #ffeb3b;
  --yellow-darkest: #fdd835;
}
