@import url(https://fonts.googleapis.com/css2?family=Righteous&display=swap);

body {
  overflow-y: scroll;
  background-color: white;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}
.icon {
  position: relative;
  padding-right: 1.5rem;
}

.header-container {
  position: relative;
  display: flex;
  align-items: left;
  color: var(--yellow);
}

.Content {
  position: relative;
  font-size: 1.7rem;
  width: 25vw;
  font-family: "Righteous", sans-serif;
  font-weight: 100;
  text-shadow: 2px 2px 2px var(--purple-darkest);
}

.background-shapes {
  top: 28vh;
  left: 3vw;
  position: relative;
  display: flex;
  gap: 3vw;
}

.link-grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1vw;
}
div.links {
  position: relative;
  top: 40vh;
  justify-content: center;
  text-align: center;
  height: 130vh;
}
.link-title {
  margin-bottom: 0.5rem;
  font-size: 2.5rem;
  font-weight: bold;
}

.link-description {
  margin-top: 1rem;
  font-weight: bold;
  width: 18vw;
  font-size: 0.8rem;
  opacity: 85%;
}
footer {
  position: relative;
  background-color: var(--purple-darkest);
  height: 60vh;
  width: 100vw;
}
.cn {
  position: relative;
  font-size: 2rem;
  font-weight: 600;
  left: 30vw;
  top: 2vh;
  transition: transform 0.25s ease-in-out;
}
.cn:hover {
  transition: 0.5s;
  transform: scale(1.15);
}
.inp {
  padding: 2px;
  padding-left: 1rem;
  border-radius: 25px;
  box-shadow: 2px 2px 3px var(--yellow-darker);
}
#inputform {
  color: black;
  font-size: 1.5rem;
  font-style: bold;
  font-weight: 500;
}
.sub {
  top: 3vh;
  position: relative;
  color: black;
  border: 2px solid transparent;
  background-color: var(--purple-lighter);
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 40px;
  left: 2vw;
}
.loader {
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
}
.inputbox {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
}
.block {
  padding: 2rem;
}
div.profile {
  background-color: #fbfbfb;
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid transparent;
  width: 40vw;
  position: relative;
  top: 30vh;
  left: 55vw;
  box-shadow: 4px 4px 4px rgba(244, 244, 244, 0.845);
  animation: shift 3.5s ease-in-out;
  font-family: "Dosis", sans-serif;
}
h1.pTitle {
  font-size: 2.1rem;
  font-weight: 700;
  color: var(--yellow-darkest);
  text-shadow: var(--purple) 1px 1px 2px;
}
p.pContent {
  color: var(--purple-darker);
  font-weight: 600;
  font-size: 1.3rem;
  text-align: left;
  position: relative;
  left: 0.2vw;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}
@keyframes shift {
  0% {
    opacity: 0;
    transform: translateY(5vw);
  }
  100% {
    opacity: 1;
    transform: translateY(0vw);
  }
}
span.underline {
  font-weight: 800;
}
@keyframes TitleShift {
  0% {
    opacity: 0;
    transform: translateX(-5vw);
  }
  100% {
    opacity: 1;
    transform: translateX(0vw);
  }
}
div.header-container {
  animation: TitleShift 3.5s ease-in-out;
  position: relative;
  left: 3vw;
  top: 3vh;
}
a.link-item1{
  display: flex;
  color: var(--yellow-dark);
  font-size: 3rem;
  flex-direction: column;
  height: 40vh;
  margin-left: 1vw;
  align-items: center;
  justify-content: center;
  background-color: var(--purple);
  border-radius: 5px;
}
a.link-item2{
  display: flex;
  color: var(--yellow-dark);
  margin-right: 1vw;
  font-size: 3rem;
  flex-direction: column;
  height: 40vh;
  align-items: center;
  justify-content: center;
  background-color: var(--purple-darker);
  border-radius: 5px;
}
@keyframes IconShift1 {
  0% {
    opacity: 0;
    transform: translateY(0vh);
  }
  100% {
    opacity: 1;
    transform: translateY(-8vh);
  }
}
div.logoBox2 {
  animation: IconShift1 3.5s ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes IconShift2 {
  0% {
    opacity: 0;
    transform: translateY(0vh);
  }
  100% {
    opacity: 1;
    transform: translateY(-14vh);
  }
}
div.logoBox3 {
  animation: IconShift2 3.5s ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes IconShift3 {
  0% {
    opacity: 0;
    transform: translateY(0vh);
  }
  100% {
    opacity: 1;
    transform: translateY(-18vh);
  }
}
div.logoBox4 {
  animation: IconShift3 3.5s ease-in-out;
  animation-fill-mode: forwards;
}
div.logoBox5 {
  position: relative;
  top: 0vh;
  left: 0vw;
  animation: IconShift2 3.5s ease-in-out;
  animation-fill-mode: forwards;
}
div.logoBox6 {
  position: relative;
  top: 0vh;
  left: 0vw;
  animation: IconShift4 3.5s ease-in-out;
  animation-fill-mode: forwards;
}
div.logoBox8 {
  position: relative;
  top: 0vh;
  left: 0vw;
  animation: IconShift4 3.5s ease-in-out;
  animation-fill-mode: forwards;
}
div.logoBox9 {
  position: relative;
  top: 0vh;
  left: 0vw;
  animation: IconShift5 3.5s ease-in-out;
  animation-fill-mode: forwards;
}
div.logoBox10 {
  position: relative;
  top: 0vh;
  left: 0vw;
  animation: IconShift6 3.5s ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes IconShift4 {
  0% {
    opacity: 0;
    transform: translateY(0vh);
  }
  100% {
    opacity: 1;
    transform: translateY(-5vh);
  }
}
@keyframes IconShift5 {
  0% {
    opacity: 0;
    transform: translateY(0vh);
  }
  100% {
    opacity: 1;
    transform: translateY(-10vh);
  }
}
@keyframes IconShift6 {
  0% {
    opacity: 0;
    transform: translateY(0vh);
  }
  100% {
    opacity: 1;
    transform: translateY(-18vh);
  }
}
div.bg1 {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100vw;
  height: 60vh;
  background-color: var(--purple-bg1);
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%);
}
.icon1{
  color: var(--yellow-light)
}
.icon2{
  color: var(--purple-lighter)
}