@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-y: scroll;
  background: linear-gradient(45deg, #f196e6, #72037a);
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}
.icon {
  position: relative;
  padding-right: 1.5rem;
}

.header-container {
  position: relative;
  display: flex;
  align-items: left;
  color: #01acc2;
}

.Content {
  position: relative;
  font-size: 3rem;
  width: 25vw;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 600;
  text-shadow: 4px 4px 8px #72037a;
}

.background-shapes {
  top: 30vh;
  left: 3vw;
  position: relative;
  display: flex;
  gap: 3vw;
}

.link-grid {
  position: relative;
  display: flex;
  width: 85vw;
  left: 2.5vw;
  gap: 2vw;
}
div.links{
  position: relative;
  top: 40vh;
  justify-content: center;
  text-align: center;
  height: 130vh;
}
.link-title {
  margin-bottom: 0.5rem;
  font-size: 2.5rem;
  font-weight: bold;
}

.link-description {
  margin-top: 1rem;
  font-weight: bold;
  width: 18vw;
  font-size: 0.8rem;
  opacity: 85%;
}
footer {
  position: relative;
  background-color: #72037a94;
  height: 60vh;
  width: 100vw;
}
.cn {
  position: relative;
  font-size: 2rem;
  font-weight: 600;
  left: 30vw;
  top: 2vh;
  transition: transform 0.25s ease-in-out;
}
.cn:hover {
  transition: 0.5s;
  transform: scale(1.15);
}
.inp {
  border: 2px solid transparent;
  padding-left: 1rem;
  border-radius: 25px;
  box-shadow: 0 3px 8px #01acc2;
}
#inputform {
  color: #431f82;
  font-size: 1.5rem;
  font-style: bold;
  font-weight: 500;
}
.sub {
  top: 3vh;
  position: relative;
  border: 2px solid transparent;
  background-color: #6aefef;
  box-shadow: 0 5px 8px #431f82;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 40px;
  left: 2vw;
}
.loader {
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
}
.inputbox {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
}
.block {
  padding: 2rem;
}
div.profile {
  background-color: rgba(234, 234, 234, 0.5);
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid transparent;
  width: 40vw;
  position: relative;
  top: 30vh;
  left: 5vw;
  box-shadow: 4px 4px 4px rgba(255, 255, 255, 0.845);
  animation: shift 3.5s ease-in-out;
  font-family: "Dosis", sans-serif;
}
h1.pTitle {
  font-size: 2.1rem;
  font-weight: 700;
  color: #6aefef;
  text-shadow: #ed00eb 2px 2px 2px;
}
p.pContent {
  color: #72037a;
  font-weight: 600;
  font-size: 1.3rem;
  text-align: left;
  position: relative;
  left: 0.2vw;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}
@keyframes shift {
  0% {
    opacity: 0;
    transform: translateY(5vw);
  }
  100% {
    opacity: 1;
    transform: translateY(0vw);
  }
}
span.underline {
  font-weight: 800;
}
@keyframes BlockShift1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(24vw);
    hover: scale(1.15);
  }
}
@keyframes BlockShift2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(34vh);
  }
}
@keyframes BlockShift4 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(-24vw);
  }
}
@keyframes TitleShift {
  0% {
    opacity: 0;
    transform: translateX(-5vw);
  }
  100% {
    opacity: 1;
    transform: translateX(0vw);
  }
}
div.header-container {
  animation: TitleShift 3.5s ease-in-out;
  position: relative;
  left: 3vw;
  top: 3vh;
}
a.link-item1 {
  display: flex;
  color: #6aefee;
  font-size: 3rem;
  flex-direction: column;
  height: 30vh;
  align-items: center;
  justify-content: center;
  background-color: #ed00eb;
  padding: 1rem 2rem;
  border: 2px solid transparent;
  border-radius: 10px;
  animation: BlockShift1 3.5s ease-in-out;
  animation-fill-mode: forwards;
}
a.link-item2 {
  display: flex;
  color: #6aefee;
  font-size: 3rem;
  flex-direction: column;
  height: 30vh;
  align-items: center;
  justify-content: center;
  background-color: #ed00eb;
  padding: 1rem 2rem;
  border: 2px solid transparent;
  border-radius: 10px;
  animation: BlockShift2 3.5s ease-in-out;
  animation-fill-mode: forwards;
}
a.link-item4 {
  display: flex;
  color: #6aefee;
  font-size: 3rem;
  flex-direction: column;
  height: 30vh;
  align-items: center;
  justify-content: center;
  background-color: #ed00eb;
  padding: 1rem 2rem;
  border: 2px solid transparent;
  border-radius: 10px;
  animation: BlockShift4 3.5s ease-in-out;
  animation-fill-mode: forwards;
}
