@import "tailwindcss/utilities";
:root {
  --y-lightest: #ffffe0;
  --y-lighter: #ffff00;
  --y-light: #ffd700;
  --y: #ffa500;
  --y-dark: #ff8c00;
  --y-darker: #ff7f50;
  --y-darkest: #ff6347;
  --p-lightest: #e6e6fa;
  --p-lighter: #d8bfd8;
  --p-light: #dda0dd;
  --p: #ee82ee;
  --p-dark: #da70d6;
  --p-darker: #ff00ff;
  --p-darkest: #ba55d3;
  --h1-font-size: 1.2rem;
  --h2-font-size: 0.9rem;
  --h2-color: rgba(60, 60, 60, 0.7);
  --h1-color: #213547;
  --border-color-2: #e7e7e7;
  --hover-color: #a1a1a1d3;
}

section.notes {
  display: flex;
  width: 100%;
  flex-direction: row;
  position: relative;
  margin-top: 61px;
}

div.noteLeft {
  display: flex;
  position: fixed;
  left: 0;
  top: 61px;
  flex-direction: column;
  align-items: flex-end;
  width: 20%;
}

div.noteRight {
  display: inline-flex;
  position: relative;
  flex-direction: row;
  margin-left: 20%;
  width: 80%;
}

main.notes {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  box-sizing: border-box;
}

div.noteLeft div {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 65%;
  padding-top: 2rem;
}

div.noteLeft div > h1 {
  font-size: var(--h1-font-size);
  color: var(--h1-color);
  font-weight: 600;
  cursor: pointer;
  margin: 0;
}

div.noteLeft div h2 {
  font-size: var(--h2-font-size);
  font-weight: 300;
  cursor: pointer;
  margin: 0;
  padding: 0.3rem 0 0.3rem 0;
  transition: color 0.3s;
}

div.noteLeft div h2 a {
  color: var(--h2-color);
  transition: color 0.3s;
  text-decoration: none;
}

div.noteLeft div h2 a:hover {
  color: black;
  transition: color 0.3s;
}

div.noteLeft div div {
  display: flex;
  padding-top: 1.1rem;
  gap: 0.4rem;
  position: relative;
  flex-direction: column;
}

div.left {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 70%;
  margin: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

div.leftOne {
  position: relative;
  border-bottom: 1px solid var(--border-color-2);
  padding-bottom: 0.5rem;
}

div.right {
  position: relative;
  width: 30%;
}

div.noteRight div div > h1 {
  color: #213547;
}

ul.doc {
  margin-left: -1vw;
  position: relative;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

ul.doc li a {
  color: black;
  text-decoration: none;
}

ul.doc li a {
  transition: color 0.3s;
}

ul.doc li {
  transition: color 0.3s;
}

ul.doc li:hover > a {
  color: var(--hover-color);
  transition: color 0.3s;
}

div.techStack {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

ul.ap {
  margin-left: -1vw;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

a.projectPre {
  color: black;
  text-decoration: none;
  transition: color 0.3s;
}

a.projectPre:hover {
  color: var(--hover-color);
  transition: color 0.3s;
}

div.leftOne h2 {
  font-size: 1.3rem;
  font-weight: 500;
}
.hoverIcon {
  position: absolute;
  font-size: 1.1rem;
  top: 50%;
  margin: 0;
  left: -1.1rem;
  transform: translateY(-50%);
  transition:
    opacity 0.7s,
    visibility 0.7s;
}

.hover1 {
  opacity: 1;
  visibility: visible;
}

.hover2 {
  opacity: 0;
  visibility: hidden;
}

.fix {
  opacity: 1 !important;
  visibility: visible !important;
}
