:root {
  --y-lightest: #ffffe0;
  --y-lighter: #ffff00;
  --y-light: #ffd700;
  --y: #ffa500;
  --y-dark: #ff8c00;
  --y-darker: #ff7f50;
  --y-darkest: #ff6347;
  --p-lightest: #e6e6fa;
  --p-lighter: #d8bfd8;
  --p-light: #dda0dd;
  --p: #ee82ee;
  --p-dark: #da70d6;
  --p-darker: #ff00ff;
  --p-darkest: #ba55d3;
  --h1-font-size: 1.2rem;
  --h2-font-size: 0.9rem;
}

section.notes {
  display: flex;
  width: 100%;
  flex-direction: row;
  position: relative;
  margin-top: 61px;
}

div.noteLeft {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  align-items: flex-end;
  width: 20%;
}

div.noteRight {
  display: inline-flex;
  position: relative;
  width: 80%;
}

main.notes {
  position: absolute;
  top: 0;
  left: 0;
}

div.noteLeft div {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 65%;
  padding-top: 2rem;
}

div.noteLeft div > h1 {
  font-size: var(--h1-font-size);
  font-weight: 500;
  margin: 0;
}

div.noteLeft div > h2 {
  font-size: var(--h2-font-size);
  font-weight: 300;
  cursor: pointer;
  margin: 0;
  padding: 0.3rem 0 0.3rem 0;
}

div.noteLeft div div {
  display: flex;
  padding-top: 1.1rem;
  gap: 0.4rem;
  position: relative;
  flex-direction: column;
}
